/* Citas */

.container-icon {
	position: relative;
	width: 80%;
	height: auto;
}

.count-citas {
	position: absolute;
	top: 45%;
	right: 0;

	background-color: #5bdefa;
	color: #080606;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-citas {
	font-size: 12px;
	color: #080707;

}

.container-wrench-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	color: #070606;
	text-align: center;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.icon-wrench{
	width: 40px;
	height: 40px;
	stroke: #f5f2f2;
}

.container-citas-icon{
	position: absolute;

}


.hidden-wrench {
	display: none;
}
