
.sobre-nosotros {
	text-align: center; /* Alinea el texto al centro horizontal */
	margin-top: 20px; /* Ajusta el margen superior según tu preferencia */
	font-weight: 600;
	color: #666;
	font-size: 40px;
	display: block;
}

.col-izq {
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    float: left;
    width: 45%;
    text-align: center;
}

.col-der {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    float: right;
    width: 45%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}