/* Contacto.css */

/* Contenedor principal */
.contacto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f3f3f3;
    color: #333;
    flex-wrap: wrap; /* Permite que las columnas se envuelvan en pantallas pequeñas */
  }
  
  /* Título "SOBRE NOSOTROS" */
  .contacto-title {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    color: #666; /* Color azul como ejemplo */
    font-size: 40px;
    width: 100%; /* Asegura que el título ocupe todo el ancho */
  }
  
/* Columna izquierda */
.contacto-col-left {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: justify;
    font-size: 20px;
    width: calc(50% - 10px); /* Ocupa el 50% del ancho, menos 10px de espacio */
    float: left; /* Agrega la propiedad float para mantener las columnas una al lado de la otra */
    margin-right: 20px; /* Espacio entre las columnas */
  }
  
  /* Columna derecha */
  .contacto-col-right {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    width: calc(50% - 10px); /* Ocupa el 50% del ancho, menos 10px de espacio */
    float: left; /* Agrega la propiedad float para mantener las columnas una al lado de la otra */
    clear: both; /* Limpia el float para evitar problemas de diseño */
  }
  
  /* Estilos para los íconos */
  .contacto-container svg {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 24px;
    color: #666; /* Color azul como ejemplo */
  }
  
  /* Estilos para la información de contacto */
  .contacto-container p {
    font-size: 20px;
  }
  
  /* Estilos para los saltos de línea */
  .contacto-container br {
    display: block;
    margin: 10px 0;
  }
  
  /* Estilos para enlaces de correo electrónico */
  .contacto-container a {
    color: #0078d4; /* Color azul como ejemplo */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .contacto-container a:hover {
    color: #005ea6; /* Color azul más oscuro al pasar el ratón */
  }
  