
/* Main */
/* Styles for the slider component */


.order_label_2 {
	display: inline-block; 
	left: 40%;
	align-items: center;
	display: flex;
    justify-content: center;
    margin-top: 10px;
	padding: 0rem;
	margin: 0;
	padding-bottom: 5px;
	list-style: none;
	display: flex;
	font-size: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;

}


.filter-menu-container {
	position: absolute; /* Posición fija para mantenerlo en la parte superior */
	top: 100px; /* Alineado en la parte superior */
	left: 0; /* Alineado a la izquierda */
	background-color: #666; /* Color de fondo del FilterMenu */
	z-index: 1;
}

.slider{
	position: relative;
	margin: 0;
	width: 240px;
	height: 5px;
	background: #b1b3b5;
	border-radius: 2%;
	cursor: pointer;
	
  }

.max-input{
	margin-left: 20px;
}

.maxPrice{
	margin: 0;
	max-width: 70px;
	margin-bottom: 5px;
	font-size: 14px;
	color: white;
	padding: 5px;
	padding-left: 15px;
	border: none;
	border-radius:20px;
	background: #283246;
  } 

  .minPrice{
	margin: 0;
	max-width: 60px;
	margin-bottom: 5px;
	font-size: 14px;
	color: white;
	padding: 5px;
	padding-left: 15px;
	border: none;
	border-radius:20px;
	background: #283246;
  } 


.labels {
	display: flex;
	flex-direction: row; /* Coloca los elementos en columnas */
    font-size: 18px;
}

/* Styles for the slider thumb */

.slider_1 {
	margin-top: 3%;
	margin-right: 2%;
	margin-bottom: 2%;

}


.slider .thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #283246;
    cursor: grab;
}


.dropdown {
  	display: flex;
	justify-content: right;
	padding-right: 10%;
    margin-top: 2%;

}

.order_label {
	display: inline-block; 
	left: 40%;
	align-items: center;
	display: flex;
    justify-content: space-between;
    margin-top: 10px;
	padding: 0rem;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 1rem;
	font-size: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;

}

.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	display: flex;
	flex-direction: column;
}

.price {
	font-size: 22px;
	font-weight: 900;
}

/* Estilo para el precio original tachado */
.original-price {
	text-decoration: line-through; /* Tacha el precio original */
	color: #666; /* Color del precio original */
  }
  
  /* Estilo para el precio con oferta */
  .price-with-offer {
	font-size: 22px;
	font-weight: 900;
	color: #FF0000; /* Color del precio de oferta, puedes ajustarlo según tu preferencia */
  }

.info-product button {
	border: 1px solid #283246; /* Agrega un borde de 2px de ancho y color negro */
	border-radius: 10px; /* Ajusta el radio de borde según tu preferencia */
	font-size: 22px;
	font-weight: 900;
	background: none;
	background-color: #5bdefa;
	color: #0c0f0f;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}



.btn-add-product, .btn-detail-product {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
  flex:1;
  margin-right: 50px; /* Espacio entre los botones */

}


.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}


.btn-pay-all:hover{
	background-color: #333;
	transform: scale(1.03);
	border-radius: 0;
  }


.btn-add-product:hover{
	background-color: #333333;
	transform: scale(1.03);
	border-radius: 10px;
}
  
  
.btn-detail-product:hover{
	background-color: #333333;
	transform: scale(1.03);
	border-radius: 10px;
}


.cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.select_drop{
	margin-bottom: 5px;
	font-size: 14px;
	color: white;
	padding: 5px;
	padding-left: 15px;
	border: none;
	border-radius:20px;
	background: #283246;
}


.link-style {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
  }

  /* Contenedor principal */
.container_productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f3f3f3;
    color: #333;
    flex-wrap: wrap; /* Permite que las columnas se envuelvan en pantallas pequeñas */
  }

  .filtros {
	display: flex;
	justify-content: flex-end;
	padding-right: 0%;
    margin-top: 0%;

}

  
  /* Título "SOBRE NOSOTROS" */
  .title-description-productos {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    color: #666; /* Color azul como ejemplo */
    font-size: 40px;
    width: 100%; /* Asegura que el título ocupe todo el ancho */
  }
