/* Estilos para el contenedor de búsqueda */
.search-bar {
	position: relative;
	margin-right: 20px; /* Espacio entre el SearchBar y otros elementos en el navbar */
	margin-top: 1.4rem;
}
  
  /* Estilos para el input de búsqueda */
  .search-bar input {
	width: 200px; /* Ancho del input de búsqueda */
	padding: 10px;
  }
  
  /* Estilos para el contenedor de sugerencias */
  .suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	color: #000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
	opacity: 0; /* Hacer que las sugerencias sean invisibles */
  }
  
  .search-bar input:focus + .suggestions,
  .search-bar input:active + .suggestions {
	opacity: 1; /* Hacer que las sugerencias sean visibles */
  }
  
  
  /* Estilos para cada sugerencia */
  .suggestion {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
  }
  
  .suggestion:last-child {
	border-bottom: none; /* Elimina la línea divisoria del último elemento */
  }
  
  .suggestion:hover {
	background-color: #f0f0f0;
  }